<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录中</title>
</head>
<body>
    <script>
        let objMap = {
            setItem: (key, val) => window.localStorage.setItem(key, JSON.stringify(val)),
            getItem: (key) => window.localStorage.getItem(key)
        }

        window.addEventListener('message', function (e) {
            let { method, key, value } = e.data
            let result = objMap[method](key, value)
            let response = {
                result
            }
            window.parent.postMessage(response, '*')
        })
    </script>
</body>
</html>